body,html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #E6E6E6;
    margin: 0;
}
/* --------- EL TIPO DE FUENTES ------------*/
@font-face{
    font-family: Roboto;
    src:url(../Fuente/Roboto-Regular.ttf);
}

@font-face {
    font-family: Flamante-Roma-Medium;
    src:url(../Fuente/Flamante-Roma-Medium.ttf);
}

@font-face{
    font-family: Montserrat SemiBold;
    src:url(../Fuente/Montserrat-SemiBoldItalic.otf);
}

li {
    margin: 0;
    padding: 0;

}
ul {
    margin: 0;
    padding: 0;
}

/* -- ----------------------------------*/

.Link_Header:hover{
    text-decoration: none;
    color: white;
}

.Link_Header:visited{
   color: white;
   text-decoration: none;
}

.Link_Header:link{
  color: white;
  text-decoration: none;
}

/* ------------------- CONTAINER DE LAS PLANTILLAS --------------------------------------*/
.header{
    height: 70px;
    font-family: Roboto;
    background-color: #42464b;
    padding: 5px;
}

.body{
    margin:auto;
    font-family: Roboto;
    background-size: 100% 100%;
}

footer{
    height: 300px;
    bottom: 0;
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom, #65717e , #65717e);
}

/*------------------------------- ESPACIO -----------------------------------------*/

#espacio{
    height: 100%;
    min-width:100%;
    min-height:80%;
    overflow:hidden;
    top:0;
    left:0;
    -webkit-backface-visibility:hidden;
    /*
    min-width:100%;
    min-height:90%;
    overflow:hidden;
    -webkit-backface-visibility:hidden;
    margin: 0;*/
}

#lineas{
    position:absolute;
    top:0;
    left:0;
    min-width:100%;
    min-height:100%;
    pointer-events:none;
}

.splash article{
    text-align:center;
    height: 100%;
    width: 100%;
}

.splash{
    height: 500px;
    min-height: 80%;
    position:relative;
}

/*---------------- HEADER ----------------------------------------------------------------*/
.divLogo{
    margin: 0;
    font-size: 22px;
    float: left;
}

.divLogo a{
    padding: 0px 0px 0px 20px !important;
}

.divRegistrarse{
    width: auto;
    height: 45px;
    margin: 5px 20px auto auto;
    float:right;
    font-size: 22px;
    text-align: center;
}

.divIngresar{
    width: auto;
    height: 40px;
    padding: 0 10px;
    margin: 10px 20px auto auto;
    float: right;
    font-size: 22px;
    border: 2px solid white;
    border-radius: 80px 80px 80px 80px;
    -moz-border-radius: 80px 80px 80px 80px;
    -webkit-border-radius: 80px 80px 80px 80px;
}

a.divIngresar:visited{
    color: white;
    text-decoration: none;
}

a.divIngresar:link{
    color: white;
    text-decoration: none;
}

a.divIngresar:hover{
  background-color: white;
  color: black;
  text-decoration: none;
}

.divRegistrarse:hover{
      border-bottom: 2px solid white;
      transition: 0.4s;
}

a.class_a_href{
    color:black;
    text-decoration: none;
}

a.class_a_href:hover{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.nav-link{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

.nav-link:hover{
    background-color: darkgrey;
}

.navbar-toggleable-sm{
    display: none;
}

.navbar-header{
    padding: 5px;
    height: 50px;
    font-family: Roboto;
    background-color: #42464b;
}

.navbar-toggler-icon{
    background-color: white;
}


/*--------------- BODY -----------------------*/

.row{
    margin: 0;
    height: calc(100% - 70px);
}

.divAlgo{
    font-family: Flamante-Roma-Medium;
    font-size: 40px;
    color: black;
    opacity:0.7;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.divBen{
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding: 15px;
    background-color: #42464b;
    color: white;
    margin-top: 10px;
}

.divCryptInfor{
    font-size: 40px;
    margin: auto;
    position: relative;
    color: black;
    text-align: center;
    opacity:0.7;
    text-shadow:
   -1px -1px 0 #fff,
    1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

#centrado_CryptInfor{
    height: 200px;
    min-width: 220px;
    max-width: 500px;
    width: calc(100% - 40px);
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    margin: auto;
}

.divInfo{
    background-color: #E6E6E6;
    width: 100%;
    position: relative;
}

.divTituloInfo{
    font-family: "Montserrat SemiBold";
    width: 100%;
    font-size: 50px;
    text-align: center;
    padding: 15px;
    background-color: #42464b;
    color: white; 
}


.divInformacion{
    background-color: #F2F2F2;
    padding: 10px 10px 3px 10px;
    margin: 30px 20px;
    text-align: center;
    font-size: 26px;
    color: black;
    -webkit-box-shadow: 2px 10px 5px -5px rgba(0,0,0,0.42);
    -moz-box-shadow: 2px 10px 5px -5px rgba(0,0,0,0.42);
    box-shadow: 2px 10px 5px -5px rgba(0,0,0,0.42);
}

.divInfoCrypt{
    font-family: Roboto;
    width: 100%;
    text-align: center;
    padding: 4%;
    background-color: #42464b;
    color: white;
    font-size: 45px;
    position: relative;
}

.divTxtCrypt{
    float: left;
    overflow:hidden;
    text-align: left;
    font-size: 25px;
    margin: 30px 0;
    padding: 3%;
    border: 3px solid white;
}

.divImgCrypt{
    float: right;
    margin: 30px 0px;
}




/* AJUSTAR EL TAMAÑO DE LAS LETRAS CON LA RESOLUCION < 768*/

@media only screen and (max-width: 768px) {

    .divAlgo {
        font-size: 30px;
    }

    .divInfoCrypt {
        font-size: 30px;
    }

    .divCryptInfor {
        font-size: 25px;
    }

    .navbar-toggleable-sm {
        display: block;
        margin-bottom: 10px;
    }

    .header{
        display: none;
        cursor: none;
    }

    .div_der_dashboard #titulo_trans{
        font-size: 25px;
    }

    .div_enviar_money input{
        margin: 0;
        width: 100%;
    }

    .div_btc_body p{
        color: #FF9900;
        font-size: 40px;
        margin: 10px;
    }
}

@media only screen and (max-width: 568px) {

    .table {
       height: 300px;
    }
}


#rc-imageselect, .g-recaptcha {
    display: inline; /*the most important*/
}

#rc-imageselect{
    max-width: 100%;
}

.g-recaptcha>div>div{
    width: 100% !important;
    height: 78px;
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    text-align: center;
    position: relative;
}

.wrapper {
  background: gray no-repeat scroll center center;
  min-height: 100vh;
  transform-origin: center bottom 0px;
  transition: all 0.5s ease 0s;
}

.body_login_sign{
    height: 100%;
    padding-top: 0;
    background-image: url(../Imagenes/puente.jpg);
    background-size: cover ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.divNombre_usuario{
    height: 80px;
    width: 100%;
    border: 2px solid white;
}

.p-2{
    width: 100%;
    height: 100%;
    border: 2px solid white;
}

.p-2:hover{
    background-color: #00aced;
    width: 100%;
}

.div_info_compra_venta{
    height: 200px;
    background-color: white;
    border: 2px solid black;
    font-family: Roboto;
    font-size: 40px;
    color: black;
    padding: 10px;
    margin: 15px;
}

.div_volver{
    height: 30px;
    width: 30px;
    bottom: 0;
    border: 2px solid white;
    margin-bottom: 1px;
}

.ir-abajo:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
}

#gwd-reCAPTCHA_2, #rc-imageselect   {
    transform:scale(0.86);
    -webkit-transform:scale(0.86);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}


/* ------------------ BARRA DE NAVEGACION DEL DASHBOARD ----------------------------------*/

.div_izq_dashboard{
    width: 100%;
    background-color: #062c33;
    font-family: Roboto;
    /*   display: block;*/
}
/*
.nav_dashboard{
    margin-right: -37px;
}

.nav_dashboard ul{
    margin: auto;
    width: 100%;
}

.nav_dashboard ul,li{
    color: white;
    width: 100%;
    margin-left: -20px;
}
*/
.nav_dashboard li,a{
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}

.nav_dashboard a:hover{
    text-decoration: none;
    color: white;
}

.nav_dashboard a:link{
    color: white;
}

.nav_dashboard a:visited{
    color: white;
}

.nav_dashboard li:hover{
    background-color: #2e6da4;
}


.img {
    margin: 10px 10px 10px 20px;
    float: left;
}

.nav_dashboard .icono {
    margin: -2px 9px 5px 5px;
    width: 15px;
}

.icono{
    margin: -2px 7px 5px 5px;
    width: 15px;
}

/* ----------------- PARTE DERECHA DEL DASHBOARD ------------------------------*/

.div_der_dashboard{
    width: 100%;
    font-family: Roboto;
    margin: 0;
    background-color: #EFFBFB;
}

#titulo_trans{
    font-size: 40px;
    margin: 20px;
    display: block;
}

.div_btc_titulo{
    background-color: #FF9900;
    height: 60px;
    color: white;
    font-size: 20px;
    padding: 15px;
    text-transform: uppercase;
}

.div_vent_dash{
    font-family: Roboto;
    background-color: white;
    margin: auto;
    padding: 0;
    text-align: center;
    -webkit-box-shadow: 0 3px 33px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 3px 33px 1px rgba(0,0,0,0.15);
    box-shadow: 0 3px 33px 1px rgba(0,0,0,0.15);
}

.div_btc_body p{
    color: #FF9900;
    font-size: 40px;
    margin: 10px;
}

.div_vent_body{
    text-align: center;
}

.div_eth_titulo{
    background-color: #102026;
    height: 60px;
    color: white;
    font-size: 20px;
    padding: 15px;
    text-transform: uppercase;
}

.div_eth_body p{
    color: #102026;
    font-size: 40px;
    margin: 10px;
}

.div_trans_titulo{
    background-color: #5882FA;
    height: 60px;
    color: white;
    font-size: 15px;
    padding: 15px;
    text-transform: uppercase;
}

.table th{
    text-align: center;
}

.div_enviar_money{
    display: block;
}

.div_enviar_money label,input{
    margin: 5px;
    width: auto;
}



/* -------------------------------------------------------------------------*/

#error, #error_usuario, #error_email, #error_password{
    background-color: rgba(255,0,0,0.4);
    color: black;
    font-size: 15px;
}

a#hide{
    color: black;
}

a:hover#hide{
    color: darkblue;
}

.select_moneda{
    margin: 15px;
    font-size: 20px;
    font-family: Roboto;
}

#bitcoin, #ethereum{
    border: 3px solid transparent;
    border-radius: 10px;
    height: 80px;
    margin: 10px;
    padding: 8px;
}

.div_der_dashboard .comision a{
    display: inline;
    margin: 0;
    padding: 0 0 0 5px;
}

.comision{
    margin-left: 10px;
}

.div_der_dashboard .comision a:link,
.div_der_dashboard .comision a:visited{
    color: black;
}

.div_der_dashboard .comision a:hover{
    color: blue;
    text-decoration: none;
}

.dir_monedero, .monto_enviar, .elegir_wallet{
    font-size: 20px;
}

.div_terminos{
    margin: 0;
    font-size: 13px;
}

.div_terminos a{
    display: inline;
    margin: 0;
    padding: 0;
}

.div_terminos input[type=checkbox] {
    margin-left: -45%;
    margin-right: -45%;
}



iframe{
    height: 400px;
    margin: 0;
    width: 450px;
    border: none;
    margin-left: -45px;
    margin-right: -45px;
    padding: 10px;
}

iframe::-webkit-scrollbar{
    display: none;
}

.div_terminos_texto {
    padding: 10px;
    height: 400px;
    overflow-y: scroll;  /* se habilita el scroll vertical*/
}

.div_terminos_texto::-webkit-scrollbar {
    /* solo oculta su visualizacion*/
    display: none;
}

.table{
    display: block !important;
    text-align: center;
    width: 100%;
}

.dash{
   margin: 0;
}

.div_direccion_btc .btn-primary{
    background-color: #ffa500;
    border: 2px solid white;
    width: 110px;
    height: 60px;
}

.div_direccion_btc .btn-primary:hover{
    background-color: #ffa500;
    border: 2px solid white;
    font-size: 23px;
    cursor: pointer;
}

.div_direccion_btc{
    font-family: Rockwell;
    font-size: 20px;
}
#direccion_btc{
    width: 430px;
    font-family: Rockwell;
    font-size: 20px;
    background-color: rgba(255,153,0,0.9);
    color: white;
    padding: 5px;
}

.div_direccion_eth{
    font-family: Rockwell;
    font-size: 20px;
}

.div_direccion_eth .btn-primary{
    border: 2px solid white;
    background-color: #686868;
    width: 110px;
    height: 60px;
}

.div_direccion_eth .btn-primary:hover {
    background-color: #686868;
    font-size: 21px;
    border: 2px solid white;
    cursor: pointer;
    width: 110px;
}

#direccion_eth{
    width: 430px;
    font-family: Rockwell;
    background-color: rgba(104,104,104,0.9);
    color: white;
    padding: 5px;
}

.div_direccion_wallets{
    display: inline-block;
}

.row #trans{
    height: auto;
    margin: 0 0 10px 15px ;
}

.modal-body{
    text-align: center;
}

.modal .modal-dialog .modal-content{
    font-size: 20px;
    text-align: center;
}

.action-button1, .modal-footer .action-button1{
    width: 100px;
    background: #3878a3;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0 10px 20px;
}
.action-button1:hover,.action-button1:focus{
    box-shadow: 0 0 0 2px white, 0 0 0 3px #3878a3;
    background-color: #2581ba;
}

